@model MVCRehber.Models.KisiModel.KisiIndexViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kişilerim</h2>

<table class="table">
    <tr>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Telefon Numarası</th>
        <th>Mail Adresi</th>
        <th>Mail Gönder</th>
        <th>Şehir</th>
        <th>İşlemler</th>
    </tr>
    @foreach (var kisi in Model.Kisiler)
    {
        <tr>
            <td>@kisi.Ad</td>
            <td>@kisi.Soyad</td>
            <td>@kisi.tel_no</td>
            <td>@kisi.email</td>
            <th>@Html.ActionLink("Mail Gönder","MailGonder", new { id = kisi.Id }) </th>
            <td>@kisi.Sehir.SehirAdi</td>
            <td>
                @*<a href="/Kisi/Guncelle/@kisi.Id">Güncelle</a>*@
                @Html.ActionLink("Güncelle", "Guncelle", new { id = kisi.Id }) |
                @Html.ActionLink("Detay", "Detay", new { id = kisi.Id }) |
                @Html.ActionLink("Sil", "Sil", new { id = kisi.Id }, new { onclick = "return confirm('Kaydı Silmek İstediğinden Emin Misin ?');"})
            </td>
                </tr>
            }
        </table>

