@model IEnumerable<MVCRehber.Models.Entities.Sehir>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Şehirler</h2>

<p>
    @Html.ActionLink("Yeni Şehir Ekle", "Ekle")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SehirAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UlkeAdi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SehirAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UlkeAdi)
        </td>
        <td>
            @Html.ActionLink("Güncelle", "Guncelle", new { id=item.SehirId }) |
            @Html.ActionLink("Detay", "Detay", new { id=item.SehirId }) |
            @Html.ActionLink("Sil", "Sil", new { id=item.SehirId })
        </td>
    </tr>
}

</table>
